root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 120

[*.*css]
indent_size = 2

[*.{ts,js}]
indent_size = 2

[*.json]
indent_style = tab

# composer.json with composer normalize standards
[composer.json]
indent_style = space
indent_size = 4
insert_final_newline = true

# YAML-Files
[*.{yaml,yml}]
indent_size = 2

[{package.json,.travis.yml}]
indent_size = 2

[*.{typoscript,tsconfig}]
indent_size = 2

[*.xlf]
indent_style = tab

[*.sql]
indent_style = tab

[{_.htaccess,.htaccess}]
indent_style = tab

[{*.rst,*.rst.txt}]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 3

[*.md]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.html]
max_line_length = 1024
indent_size = 2