.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
._*
.project
.scannerwork
/*.cache
/*deprecations*.xml
/*report*.xml
/.Build
/.ddev
/.deploy.sh
/.idea
/.php-cs-fixer.cache
/.php_cs.php
/.phpstan.constants.php
/.sonar
/Tests/Output
/composer.lock
/node_modules
/rector.*.php
/report.*
/staticpathrouteresolver*
/target
/typo3
/typoscript-lint.yml
/var/
/vendor
Thumbs.db
ehthumbs.db
