
/.Build/
/.idea/
/.deploy.sh
/.editorconfig
/.php_cs.php
/.php-cs-fixer.php
/.php-cs-fixer.cache
/.phpcs.xml
/.phpstan.constants.php
/phpstan.neon
/rector.php
/typoscript-lint.yml
/report.*
/.cache*
.DS_Store
