name: Testing and SemVer-Releasing stable versions as tags
on:
  push:
    branches:
      - main
      - develop
  pull_request:
  workflow_dispatch:

jobs:
  php-lint:
    if: "!contains(github.event.head_commit.message, 'ci skip') && !contains(github.event.head_commit.message, '[RELEASE]')"
    name: "PHP linter"
    runs-on: ubuntu-20.04
    steps:
      - name: "Checkout"
        uses: actions/checkout@v3
      - name: "Install PHP"
        uses: shivammathur/setup-php@v2
        with:
          php-version: "${{ matrix.php-version }}"
          coverage: none
          tools: composer:v2.4
      - name: "Run PHP lint"
        run: "composer lint:php"
    strategy:
      fail-fast: false
      matrix:
        php-version:
          - 7.4
          - 8.0
          - 8.1
  php-codequality:
    if: "!contains(github.event.head_commit.message, 'ci skip') && !contains(github.event.head_commit.message, '[RELEASE]')"
    name: "Code quality checks"
    runs-on: ubuntu-20.04
    steps:
      - name: "Checkout"
        uses: actions/checkout@v3
      - name: "Install PHP"
        uses: shivammathur/setup-php@v2
        with:
          php-version: "${{ matrix.php-version }}"
          coverage: none
          tools: composer:v2.4
      - name: "Show Composer version"
        run: composer --version
      - name: "Cache dependencies installed with composer"
        uses: actions/cache@v3
        with:
          key: "php${{ matrix.php-version }}-composer-${{ hashFiles('**/composer.json') }}"
          path: ~/.cache/composer
          restore-keys: "php${{ matrix.php-version }}-composer-\n"
      - name: "Install Composer dependencies"
        run: "composer install --no-progress"
      - name: "Run command"
        run: "composer ${{ matrix.command }}"
    strategy:
      fail-fast: false
      matrix:
        command:
          - "normalize"
          - "lint:php-cs-fixer:dry-run"
          - "lint:phpcs:dry-run"
          - "lint:phpstan:ci"
          - "lint:phpcpd"
        php-version:
          - 7.4
  xliff-lint:
    name: "Xliff linter"
    runs-on: ubuntu-22.04
    steps:
      - name: "Checkout"
        uses: actions/checkout@v3
      - name: "Run the xliff lint"
        uses: TYPO3-Continuous-Integration/TYPO3-CI-Xliff-Lint@v1

  calculate-version:
    name: "calculating next SemVer"
    runs-on: ubuntu-20.04
    outputs:
      majorMinorPatch: ${{ steps.gitversion.outputs.majorMinorPatch }} # To use an output in another job, you have to map it to a job output.
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Install GitVersion
        uses: gittools/actions/gitversion/setup@v0
        with:
          versionSpec: '5.x'
      - name: Determine Version
        id:   gitversion
        uses: gittools/actions/gitversion/execute@v0
        with:
          useConfigFile: true
      - name: Display GitVersion outputs
        run: |
          echo "LegacySemVer: ${{ steps.gitversion.outputs.legacySemVer }}"
          echo "SemVer: ${{ steps.gitversion.outputs.semVer }}"
          echo "FullSemVer: ${{ steps.gitversion.outputs.FullSemVer }}"
          echo "Major: ${{ steps.gitversion.outputs.major }}"
          echo "Minor: ${{ steps.gitversion.outputs.minor }}"
          echo "Patch: ${{ steps.gitversion.outputs.patch }}"
          echo "MajorMinorPatch: ${{ steps.gitversion.outputs.majorMinorPatch }}"

  changelog:
    runs-on: ubuntu-latest
    outputs:
      changelog: ${{ steps.changelog.outputs.changelog }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: write changelog to env
        id: changelog
        run: |
          export GIT_LASTTAG="$(git describe --tags --abbrev=0)"
          export CHANGELOG="$(git log ${GIT_LASTTAG}...HEAD --abbrev=0 --format="%s%n%b")"
          echo "$CHANGELOG" >> "$GITHUB_OUTPUT"


  git-publish:
    name: "tag new release and push to release branch"
    needs: [php-lint,xliff-lint,php-codequality,calculate-version,get-changelog]
    uses: EndBug/latest-tag@latest
    with:
      # You can change the name of the tag or branch with this input.
      # Default: 'latest'
      ref: ${{jobs.calculate-version.outputs.majorMinorPatch}}

      # If a description is provided, the action will use it to create an annotated tag. If none is given, the action will create a lightweight tag.
      # Default: ''
      description: "${{jobs.changelog.outputs.changelog}}"


